<div style="font-size: 0.8em;">
    <div style="padding-bottom: 20px;">
        Hey! Im Paula :), I made Baby Hacker as my project for my intro to security course at UNSW, 
        I hope you enjoy your time here! 
        Apart from making this, you can usually find me doing regex crosswords, 
        eating pho or changing the design of my dodgy website for the 3984716273th time
    </div>
    <div>
        Baby hacker is a pretty beginer friendly CTF based around a story that highlights some 
        pretty exagerated ideas of bad security found everywhere around us! You dont need any 
        background in computer science or cyber security to complete the challenges, and maybe you could
        use these questions to help practice your coding and problem solving skills
    </div>
    <div>
        If you want to learn more about security, try checking our my 
        <a class="underlinelink" href="https://www.openlearning.com/u/paulatennent/blog/">COMP6841 Blog</a>
        , or my <a class="underlinelink" href="/">personal blog</a>
    </div>
</div>