---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

body {
    margin: 10px;
    margin-left: 30px;
    background-color: rgb(0, 29, 9);
    font-family: "Source code pro", "Courier New";
    font-size: 1.5em;
    color: rgb(0, 181, 57);
    text-decoration: none;
}

.navtitle {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 181, 57);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.406),
}

.navitem {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    color: rgb(0, 181, 57);

}

.nav :hover {
    color: rgb(102, 242, 147);;
}

.about {
    float: right;
    width: 400px;
}

details {
    margin: 15px 0px 50px 0;
    padding: 12px 15px 10px 15px;
    border-radius: 15px !important;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.096);
}

details[open] {
    cursor: unset;
}

#questionmenu {
    text-decoration: none;
    color: rgb(0, 181, 57);
    list-style-type: none;
    width: 700px;
}

#questionmenu :hover {
    background-color: rgba(255, 255, 255, 0.096);
    text-decoration: none;
}

.normal {
    text-decoration: none;
    color: rgb(0, 181, 57);
}

.underlinelink {
    color: rgb(102, 242, 147);;
    text-decoration: none;
}

.underlinelink :hover {
    color: rgb(250, 250, 250);
}

a {
    color: rgb(102, 242, 147);
}

a :hover {
    color: rgb(250, 250, 250);
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

h5 {
    color: rgb(102, 242, 147);;

}

.hr {
    color: rgb(102, 242, 147);
}